body {
  margin: 0;
  font-family: 'Nunito', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', arial, sans-serif;
}

* {
  box-sizing: border-box;
}